.disp{
    display:flex;
    background-color: rgb(168, 118, 57);
    height:60px;
    align-items: center;
    justify-content: space-between;
   
}
button{
    color: rgb(168, 118, 57);
    height: 40px;
    font-weight: bold;
    padding: 0px .8rem;
    margin: 1px;
    border: 1px solid black;
    /* border-radius: 5px; */
}
input {
    border: 1px solid black;
}

.cancel{
    display: flex;
    justify-content: space-between;
}

.contact{
    max-width: 80vw;
    margin-left: 100px;
    padding-top: 100px;
}
.details{
    display : flex;
    
    justify-content: space-between;
}

.btns{
    display:flex;
    max-width: 100%;
    /* margin: auto; */
    margin : .8rem;
    justify-content: space-between;
}

.premium{
    background-color: black;
    color: rgba(252, 252, 248, 0.936);
}
.normal{
    background-color:  black;
}