.disp{
    display:flex;
    background-color: rgb(112, 141, 141);
    height:60px;
    align-items: center;
    justify-content: space-between;
}
button{
    color: rgb(0, 115, 255);
    height: 40px;
    font-weight: bold;
    padding: 0px 5px;;
}
input {
    border: 1px solid black;
}

.cancel{
    display: flex;
    justify-content: space-between;
}

.contact{
    max-width: 80vw;
    margin-left: 100px;
    padding-top: 100px;
}
.details{
    display : flex;
    
    justify-content: space-between;
}